node_modules
dist
dist-test
coverage
.env
.env.local
.env.production
logs
src/uploads/products/*
src/uploads/banners/*
!src/uploads/products/.gitkeep
!src/uploads/banners/.gitkeep
*.md
.git
.gitignore
.DS_Store
Thumbs.db
prisma/migrations
